In [ ]:
import pandas as pd
L=[]
for i in range(65,91):
  L.append(chr(i))
s= pd.Series(L)
print(s)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object

In [ ]:
import pandas as pd
s1=pd.Series([0,0,0,0,0], index=['a','e','i','o','u'])
print(s1)

a    0
e    0
i    0
o    0
u    0
dtype: int64

In [ ]:
d={"harshitha":146, "rasagna":151 , "janvi":156 , "rida":161 , "shravya":163}
s2=pd.Series(d)
print(s2)
print(s2.empty)

harshitha    146
rasagna      151
janvi        156
rida         161
shravya      163
dtype: int64
False

In [ ]:
import numpy as np
n1=np.array([1,2,3,4,5,6,7,8,9,10,11,12])
n2=np.array([31,28,31,30,31,30,31,31,30,31,30,31])
s3=pd.Series(n2,index=n1)
print(s3)

1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int64

In [ ]:
import pandas as pd
s1=pd.Series([10,10,10,10,10], index=['a','e','i','o','u'])

print(s1)

a    10
e    10
i    10
o    10
u    10
dtype: int64

In [ ]:
import pandas as pd
data = {
    2014: [100.5, 150.8, 200.9, 30000, 40000],
    2015: [12000, 18000, 22000, 30000, 45000],
    2016: [20000, 50000, 70000, 100000, 125000],
    2017: [50000, 60000, 70000, 80000, 90000]
}
index = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']
Sales = pd.DataFrame(data, index=index)
print(Sales)
print(Sales.index)
print(Sales.columns)
print(Sales.dtypes)
print(Sales.ndim)
print(Sales.shape)
print(Sales.size)
print(Sales.iloc[-2:])
print(Sales.iloc[:,:2])
data1 = {2018:[160000,110000,500000,340000,900000]}
index = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']
Sales2=pd.DataFrame(data1,index=index)
print(Sales2)
print(Sales2.empty)
newd=Sales.join(Sales2)
print(newd)
print(Sales.T)
print(Sales.loc[:,2017])
print(Sales.loc[["Madhu","Ankit"],[2017,2016]])
print(Sales.loc["Shruti",2016])
newd.loc["sumeet"]= [196.2, 37800, 52000, 78438,38852]
print(newd)
print(Sales.drop(2014,axis=1))
print(Sales.drop("Kinshuk",axis=0))
newd=newd.rename({"Ankit":"vivaan","Madhu":"Shailesh"})
newd.loc["Shailesh",2018]=100000
print(newd)
Sales.to_csv("SalesFigures.csv", index=False, header=False)
# Read data back (no headers or index)
SalesRetrieved = pd.read_csv("SalesFigures.csv", header=None)
# Set the same row and column labels as the original Sales
SalesRetrieved.index = Sales.index      # Set row labels
SalesRetrieved.columns = Sales.columns  # Set column labels
print(SalesRetrieved)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000
Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
Index([2014, 2015, 2016, 2017], dtype='int64')
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object
2
(5, 4)
20
           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000
            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000
           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000
False
            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000
        Madhu    Kusum  Kinshuk     Ankit    Shruti
2014    100.5    150.8    200.9   30000.0   40000.0
2015  12000.0  18000.0  22000.0   30000.0   45000.0
2016  20000.0  50000.0  70000.0  100000.0  125000.0
2017  50000.0  60000.0  70000.0   80000.0   90000.0
Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64
        2017    2016
Madhu  50000   20000
Ankit  80000  100000
125000
            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.8  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0  125000.0  90000.0  900000.0
sumeet     196.2  37800.0   52000.0  78438.0   38852.0
          2015    2016   2017
Madhu    12000   20000  50000
Kusum    18000   50000  60000
Kinshuk  22000   70000  70000
Ankit    30000  100000  80000
Shruti   45000  125000  90000
           2014   2015    2016   2017
Madhu     100.5  12000   20000  50000
Kusum     150.8  18000   50000  60000
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000
             2014     2015      2016     2017      2018
Shailesh    100.5  12000.0   20000.0  50000.0  100000.0
Kusum       150.8  18000.0   50000.0  60000.0  110000.0
Kinshuk     200.9  22000.0   70000.0  70000.0  500000.0
vivaan    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti    40000.0  45000.0  125000.0  90000.0  900000.0
sumeet      196.2  37800.0   52000.0  78438.0   38852.0
            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
#14
#a
import numpy as np
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Degree': ['BCA', 'BCA', 'MBA', 'MBA', 'BCA'],
    'Marks': [85, np.nan, 90, 80, 88]
}

df5 = pd.DataFrame(data)
#b
print(df5.groupby("Degree")["Marks"].max())
#c
df5["Marks"] = df5["Marks"].fillna(76)
#d
df5.set_index('Name', inplace=True)
#e
# print(df5.groupby(["Name", "Degree"])["Marks"].mean())
print(df5.groupby(["Name", "Degree"])["Marks"].mean())

#f
print((df5["Degree"] == "MBA").sum())
#g
print(df5[df5["Degree"] == "BCA"]["Marks"].mode())

Degree
BCA    88.0
MBA    90.0
Name: Marks, dtype: float64
Name   Degree
Alice  BCA       85.0
Bob    BCA       76.0
Carol  MBA       90.0
David  MBA       80.0
Eve    BCA       88.0
Name: Marks, dtype: float64
2
0    76.0
1    85.0
2    88.0
Name: Marks, dtype: float64

In [6]:
import pandas as pd
df=pd.read_csv("house_price_train.csv")
print(df.head(2))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500

[2 rows x 81 columns]

In [7]:
import numpy as np
df.fillna(method="ffill",inplace=True)
print(df.isnull().sum())

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64

/tmp/ipython-input-477781754.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill",inplace=True)

In [8]:
from sklearn.model_selection import train_test_split
X=df.drop("SalePrice",axis=1)
y=df["SalePrice"]
x_train,x_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
from numbers import Number
const=[]
for feature in x_train.select_dtypes(include=['number']).columns:
  if x_train[feature].std()==0:
    const.append(feature)
print("no of constant features ", len(const))
x_train.drop(labels=const,axis=1,inplace=True)
x_test.drop(labels=const,axis=1,inplace=True)

no of constant features  0

In [9]:
quasi=[]
threshold=0.98
for feature in x_train.columns:
  freq=x_train[feature].value_counts(normalize=True).max()
  if freq>=threshold:
    quasi.append(feature)
print(quasi)
print("no of quasi features ", len(quasi))
x_train.drop(labels=quasi,axis=1,inplace=True)
x_test.drop(labels=quasi,axis=1,inplace=True)

['Street', 'Utilities', 'Condition2', 'LowQualFinSF', '3SsnPorch', 'PoolArea']
no of quasi features  6

In [10]:
dup=[]
for i in range(len(x_train.columns)):
  for j in range(i+1,len(x_train.columns)):
    if x_train.iloc[:,i].equals(x_train.iloc[:,j]):
      dup.append(x_train.columns[j])
print(dup)
print("no of duplicate features ", len(dup))

[]
no of duplicate features  0

In [11]:
corrm=x_train.select_dtypes(include=['number']).corr()
upper = corrm.where(np.triu(np.ones(corrm.shape),k=1).astype(bool))
d =[col for col in upper.columns if any(upper[col]>0.9) ]
print(d)
x_train.drop(columns=d, inplace=True)
x_test.drop(columns=d, inplace=True)

[]

In [ ]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import LabelEncoder

X_encoded = X.apply(LabelEncoder().fit_transform)

chi2_scores = chi2(X_encoded, y)
chi2_series = pd.Series(chi2_scores[0], index=X.columns)
chi2_series.sort_values(ascending=False)

BsmtFinSF1      175046.761502
2ndFlrSF        156662.356995
Id              155053.977420
LotArea         153258.463160
GrLivArea       152684.196937
                    ...
CentralAir          53.802335
GarageCond          40.785166
KitchenAbvGr        28.490834
Condition2          27.336481
Street               3.650601
Length: 80, dtype: float64

In [ ]:
from sklearn.feature_selection import f_classif, SelectKBest

anova = SelectKBest(score_func=f_classif, k='all')
anova.fit(X_encoded, y)

anova_scores = pd.Series(anova.scores_, index=X.columns)
anova_scores.sort_values(ascending=False)

OverallQual      5.729183
ExterQual        3.774880
GrLivArea        3.221203
KitchenQual      2.904745
GarageCars       2.861594
                   ...
SaleType         0.805063
Functional       0.803986
EnclosedPorch    0.792162
Condition1       0.777743
Utilities        0.239796
Length: 80, dtype: float64

In [ ]:
from sklearn.feature_selection import f_regression

f_test = SelectKBest(score_func=f_regression, k='all')
f_test.fit(X_encoded, y)

f_scores = pd.Series(f_test.scores_, index=X.columns)
f_scores.sort_values(ascending=False)

OverallQual    2436.770591
GrLivArea      1323.469110
GarageCars     1013.705666
GarageArea     1009.287535
ExterQual       994.979678
                  ...
LandContour       0.348257
PoolQC            0.329400
Utilities         0.298804
Condition2        0.082296
MiscFeature       0.010716
Length: 80, dtype: float64

In [ ]:
from sklearn.feature_selection import chi2
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Suppose X contains categorical features (strings)
# Example:
# X = pd.DataFrame({'Color': ['Red', 'Blue', 'Green'], 'Size': ['S', 'M', 'L']})
# y = pd.Series(['Yes', 'No', 'Yes'])  # categorical target

# Step 1: Encode categorical features as integers
X_encoded = X.apply(LabelEncoder().fit_transform)

# Step 2: Encode target if it's categorical strings
y_encoded = LabelEncoder().fit_transform(y)

# Step 3: Apply chi-square test
chi2_scores, p_values = chi2(X_encoded, y_encoded)

# Step 4: Create a Series to see scores per feature
chi2_series = pd.Series(chi2_scores, index=X.columns)

# Step 5: Sort scores descending to see most relevant features
chi2_series_sorted = chi2_series.sort_values(ascending=False)

print(chi2_series_sorted)

BsmtFinSF1      175046.761502
2ndFlrSF        156662.356995
Id              155053.977420
LotArea         153258.463160
GrLivArea       152684.196937
                    ...
CentralAir          53.802335
GarageCond          40.785166
KitchenAbvGr        28.490834
Condition2          27.336481
Street               3.650601
Length: 80, dtype: float64

In [15]:
#Data Collection
import pandas as pd
df = pd.read_csv("titanic_train.csv")
print(df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [16]:
#Handling null values
df.ffill(inplace=True) #Forward fill
df.bfill(inplace=True) #Backward fill
print(df.isnull().any())  #If any null values, returns True

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [17]:
#Handling different columns
#Drop ones that don't contribute
df.drop('PassengerId',axis=1,inplace=True)

In [18]:
#Encode nominal categorical values
df["Sex"]=df["Sex"].map({"male":0,"female":1})

In [19]:
#Extract useful prefixes
import re
df["Title"]=df["Name"].str.extract(r",\s*([^\.]+)\.")
df.drop("Name",axis=1,inplace=True)
df["Deck"] = df["Ticket"].str.extract(r"([A-Za-z\.]+)")
df["Deck"] = df["Deck"].fillna("NoPrefix")
df.drop("Ticket", axis=1, inplace=True)
#But too many prefixes for deck
threshold=10
prefix_counts = df["Deck"].value_counts()
rare_prefixes = prefix_counts[prefix_counts < threshold].index
df["Deck"] = df["Deck"].replace(rare_prefixes, 'Other')
# One-Hot Encode 'Deck' column, drop_first=True avoids dummy variable trap
df = pd.get_dummies(df, columns=["Deck"], drop_first=True)

In [20]:
#After data preprocessing
print(df.head(2))

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked Title  \
0         0       3    0  22.0      1      0   7.2500   C85        S    Mr
1         1       1    1  38.0      1      0  71.2833   C85        C   Mrs

   Deck_C.A.  Deck_NoPrefix  Deck_Other  Deck_PC  Deck_SC  Deck_SOTON  \
0      False          False       False    False    False       False
1      False          False       False     True    False       False

   Deck_STON
0      False
1      False

In [21]:
#Data Splitting
from sklearn.model_selection import train_test_split
X=df.drop("Survived",axis=1)
y=df["Survived"]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [22]:
#Basic Filter methods
cat_columns = X_train.select_dtypes(include=["object"]).columns.tolist()
X_train=pd.get_dummies(X_train,columns=cat_columns,drop_first=True)
X_train=X_train.astype(int)
X_test=pd.get_dummies(X_test,columns=cat_columns,drop_first=True)
X_test=X_test.astype(int)
#Removing Constant features
const = []
for features in X_train:
  if(X_train[features].std()==0):
    const.append(features)
print("Number of constant features:",len(const))
X_train.drop(labels=const,axis=1,inplace=True)
X_test.drop(labels=const,axis=1,inplace=True)

#Removing quasi constant features
quasi_constant = []
for feature in X_train.columns:
  predominant = (X_train[feature].value_counts()/float(len(X_train))).sort_values(ascending=False).values[0]
  if(predominant>0.999):
    quasi_constant.append(feature)
print("Number of quasi constant features:",len(quasi_constant))
X_train.drop(labels=quasi_constant,axis=1,inplace=True)
X_test.drop(labels=quasi_constant,axis=1,inplace=True)#Apply same removal to X_test

#Duplicated features
duplicates = []
for i in range(len(X_train.columns)):
  col1 = X_train.columns[i]
  for col2 in X_train.columns[i+1:]:
    if(X_train[col1].equals(X_train[col2])): #Not ==, as it won't return a single True of False
      duplicates.append(col2)
print("Number of duplicate features:",len(duplicates))
X_train.drop(labels=duplicates,axis=1,inplace=True)
X_test.drop(labels=duplicates,axis=1,inplace=True)#Apply same removal to X_test

Number of constant features: 0
Number of quasi constant features: 0
Number of duplicate features: 0

In [23]:
#Statistical Filter Methods
num_features=[col for col in X_train.columns if not set(X_train[col].unique()).issubset({0,1})]
cat_features = [col for col in X_train.columns if set(X_train[col].unique()).issubset({0,1})]
from sklearn.feature_selection import f_classif,SelectKBest
#1. Anova
f_values,p_values = f_classif(X_train[num_features],y_train)
anova_df=pd.DataFrame({
    "Numerical Features":num_features,
    "F_values":f_values,
    "P_values":p_values
    })
anova_df.sort_values(by="P_values",inplace=True)
significant_numeric_features = anova_df[anova_df["P_values"]<0.05]["Numerical Features"].tolist()
print("Selected Numerical Features:", significant_numeric_features)
#2.chi2
from sklearn.feature_selection import chi2
chi2_values,p_values=chi2(X_train[cat_features],y_train)
chi2_df=pd.DataFrame({
    "Categorical Features":cat_features,
    "Chi2_values":chi2_values,
    "p_values":p_values
     })
chi2_df.sort_values(by="p_values",inplace=True)
significant_chi2_features=chi2_df[chi2_df["p_values"]<0.05]["Categorical Features"].tolist()
print("Selected Features from Chi2 test:", significant_chi2_features)
#3. Mutual info
from sklearn.feature_selection import mutual_info_classif,SelectKBest
selector = SelectKBest(score_func=mutual_info_classif,k=10)
selector.fit(X_train[cat_features],y_train)
significant_mi_features=X_train[cat_features].columns[selector.get_support()].tolist()
print("Selected Features from MI test:",significant_mi_features)
final_selected_features=list(set(significant_numeric_features+significant_chi2_features+significant_mi_features)) #Set conversion is for removing duplicates, converting to list is to use it as indexer
#Filter
X_train=X_train[final_selected_features]
for col in X_train.columns:
    if col not in X_test.columns:
        X_test[col] = 0
X_test = X_test[X_train.columns]

Selected Numerical Features: ['Pclass', 'Fare', 'Parch', 'Age']
Selected Features from Chi2 test: ['Sex', 'Title_Mr', 'Title_Mrs', 'Title_Miss', 'Deck_PC', 'Embarked_S', 'Cabin_A34', 'Cabin_D33', 'Cabin_C110', 'Title_Master']
Selected Features from MI test: ['Sex', 'Cabin_A19', 'Cabin_C50', 'Cabin_C65', 'Cabin_D33', 'Cabin_E63', 'Embarked_Q', 'Title_Miss', 'Title_Mr', 'Title_Mrs']

In [24]:
#Dataset after data preprocessing and feature selection
print(X_train.columns)
print(X_train.head(3))

Index(['Sex', 'Cabin_C50', 'Title_Mr', 'Parch', 'Embarked_Q', 'Embarked_S',
       'Title_Miss', 'Age', 'Deck_PC', 'Title_Master', 'Fare', 'Cabin_A34',
       'Pclass', 'Cabin_D33', 'Cabin_E63', 'Cabin_C110', 'Cabin_A19',
       'Cabin_C65', 'Title_Mrs'],
      dtype='object')
     Sex  Cabin_C50  Title_Mr  Parch  Embarked_Q  Embarked_S  Title_Miss  Age  \
748    0          0         1      0           0           1           0   19
45     0          0         1      0           0           1           0   19
28     1          0         0      0           1           0           1   19

     Deck_PC  Title_Master  Fare  Cabin_A34  Pclass  Cabin_D33  Cabin_E63  \
748        0             0    53          0       1          0          0
45         0             0     8          0       3          0          0
28         0             0     7          0       3          0          0

     Cabin_C110  Cabin_A19  Cabin_C65  Title_Mrs
748           0          0          0          0
45            0          0          0          0
28            0          0          0          0

In [36]:
#Data Collection
import pandas as pd
df = pd.read_csv("Santander Customer Satisfaction_train.csv")

In [37]:
y = df["TARGET"]
X = df.drop("TARGET", axis=1)

In [38]:
num_fea = X.select_dtypes(include=["number"]).columns.tolist()
cat_fea = X.select_dtypes(include=["object", "category"]).columns.tolist()

In [39]:
X[num_fea] = X[num_fea].fillna(X[num_fea].median())
X[cat_fea] = X[cat_fea].fillna("Unknown")

In [40]:
X = pd.get_dummies(X, columns=cat_fea, drop_first=True)
if "ID" in X.columns:
    X.drop(columns=["ID"], inplace=True)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

In [42]:
#Basic filter methods
#1.Removing Constant features
const = []
for features in X_train:
  if(X_train[features].std()==0):
    const.append(features)
print("Number of constant features:",len(const))
X_train.drop(labels=const,axis=1,inplace=True)
X_test.drop(labels=const,axis=1,inplace=True)

#2.Removing quasi constant features
quasi_constant = []
for feature in X_train.columns:
  predominant = (X_train[feature].value_counts()/float(len(X_train))).sort_values(ascending=False).values[0]
  if(predominant>0.999):
    quasi_constant.append(feature)
print("Number of quasi constant features:",len(quasi_constant))
X_train.drop(labels=quasi_constant,axis=1,inplace=True)
X_test.drop(labels=quasi_constant,axis=1,inplace=True)#Apply same removal to X_test

#3.Duplicated features
duplicates = []
for i in range(len(X_train.columns)):
  col1 = X_train.columns[i]
  for col2 in X_train.columns[i+1:]:
    if(X_train[col1].equals(X_train[col2])): #Not ==, as it won't return a single True of False
      duplicates.append(col2)
print("Number of duplicate features:",len(duplicates))
X_train.drop(labels=duplicates,axis=1,inplace=True)
X_test.drop(labels=duplicates,axis=1,inplace=True)#Apply same removal to X_test

Number of constant features: 57
Number of quasi constant features: 89
Number of duplicate features: 10

In [43]:
#Statistical Filter Methods
num_features=[col for col in X_train.columns if not set(X_train[col].unique()).issubset({0,1})]
cat_features = [col for col in X_train.columns if set(X_train[col].unique()).issubset({0,1})]
from sklearn.feature_selection import f_classif,SelectKBest
#1. Anova
f_values,p_values = f_classif(X_train[num_features],y_train)
anova_df=pd.DataFrame({
    "Numerical Features":num_features,
    "F_values":f_values,
    "P_values":p_values
    })
anova_df.sort_values(by="P_values",inplace=True)
significant_numeric_features = anova_df[anova_df["P_values"]<0.05]["Numerical Features"].tolist()
print("Selected Numerical Features:", significant_numeric_features)
#2.chi2
from sklearn.feature_selection import chi2
chi2_values,p_values=chi2(X_train[cat_features],y_train)
chi2_df=pd.DataFrame({
    "Categorical Features":cat_features,
    "Chi2_values":chi2_values,
    "p_values":p_values
     })
chi2_df.sort_values(by="p_values",inplace=True)
significant_chi2_features=chi2_df[chi2_df["p_values"]<0.05]["Categorical Features"].tolist()
print("Selected Features from Chi2 test:", significant_chi2_features)
#3. Mutual info
from sklearn.feature_selection import mutual_info_classif,SelectKBest
selector = SelectKBest(score_func=mutual_info_classif,k=10)
selector.fit(X_train[cat_features],y_train)
significant_mi_features=X_train[cat_features].columns[selector.get_support()].tolist()
print("Selected Features from MI test:",significant_mi_features)
final_selected_features=list(set(significant_numeric_features+significant_chi2_features+significant_mi_features))
#Filter
X_train=X_train[final_selected_features]
for col in X_train.columns:
    if col not in X_test.columns:
        X_test[col] = 0
X_test = X_test[X_train.columns]

Selected Numerical Features: ['num_meses_var5_ult3', 'num_var30', 'num_var5', 'num_var42', 'var15', 'var36', 'num_var4', 'num_var35', 'num_var8_0', 'num_var13', 'num_var13_0', 'saldo_var30', 'num_meses_var13_corto_ult3', 'num_var13_corto', 'num_var13_corto_0', 'num_var12', 'imp_op_var39_efect_ult1', 'num_var5_0', 'imp_op_var41_efect_ult1', 'num_var8', 'num_var24', 'num_var30_0', 'num_meses_var12_ult3', 'num_var22_ult1', 'saldo_var13', 'num_var24_0', 'num_meses_var8_ult3', 'imp_op_var39_efect_ult3', 'num_var41_0', 'imp_op_var41_ult1', 'imp_op_var39_ult1', 'imp_op_var41_efect_ult3', 'num_aport_var13_hace3', 'num_var39_0', 'saldo_var13_corto', 'saldo_medio_var13_corto_ult1', 'num_op_var39_efect_ult1', 'saldo_medio_var13_corto_ult3', 'num_op_var41_efect_ult1', 'saldo_var42', 'num_var26_0', 'num_var25_0', 'saldo_medio_var13_corto_hace2', 'imp_aport_var13_hace3', 'num_op_var39_efect_ult3', 'saldo_var12', 'saldo_var24', 'num_var12_0', 'num_op_var41_efect_ult3', 'saldo_medio_var12_ult3', 'saldo_medio_var12_ult1', 'num_med_var22_ult3', 'saldo_medio_var5_hace2', 'num_var13_largo_0', 'num_var13_largo', 'saldo_medio_var5_ult3', 'num_meses_var13_largo_ult3', 'num_var43_recib_ult1', 'var38', 'saldo_medio_var12_hace2', 'saldo_medio_var5_hace3', 'saldo_medio_var5_ult1', 'num_var22_ult3', 'num_sal_var16_ult1', 'saldo_var13_largo', 'saldo_medio_var13_corto_hace3', 'num_var45_ult1', 'saldo_var5', 'num_var42_0', 'saldo_medio_var13_largo_ult3', 'saldo_medio_var13_largo_hace2', 'num_op_var39_ult1', 'saldo_medio_var13_largo_ult1', 'num_op_var41_ult1', 'saldo_var40', 'num_var40', 'num_var1', 'num_var20_0', 'num_var22_hace2', 'saldo_medio_var12_hace3', 'imp_trans_var37_ult1', 'num_op_var41_ult3', 'num_op_var39_ult3', 'num_var20', 'num_ent_var16_ult1', 'imp_aport_var13_ult1', 'num_trasp_var11_ult1']
Selected Features from Chi2 test: ['ind_var5', 'ind_var30', 'ind_var8_0', 'ind_var13', 'ind_var13_0', 'ind_var12_0', 'ind_var13_corto', 'ind_var13_corto_0', 'ind_var12', 'ind_var8', 'ind_var24', 'ind_var24_0', 'ind_var26_cte', 'ind_var25_cte', 'ind_var26_0', 'ind_var25_0', 'ind_var14_0', 'ind_var43_recib_ult1', 'ind_var13_largo_0', 'ind_var13_largo', 'ind_var40', 'ind_var1', 'ind_var20_0', 'ind_var19', 'ind_var39_0', 'ind_var10_ult1', 'ind_var41_0', 'ind_var20', 'ind_var10cte_ult1', 'ind_var9_ult1', 'ind_var31_0']
Selected Features from MI test: ['ind_var5_0', 'ind_var5', 'ind_var12_0', 'ind_var14_0', 'ind_var26_cte', 'ind_var30_0', 'ind_var30', 'ind_var39_0', 'ind_var41_0', 'ind_var43_emit_ult1']

In [44]:
#Dataset after data preprocessing and feature selection
print(X_train.columns)

Index(['ind_var26_cte', 'ind_var13_largo', 'saldo_var12',
       'num_meses_var13_largo_ult3', 'imp_op_var41_efect_ult1',
       'saldo_medio_var12_ult1', 'num_var5', 'imp_op_var39_efect_ult3',
       'saldo_var24', 'saldo_medio_var13_largo_hace2',
       ...
       'ind_var20', 'ind_var5', 'saldo_medio_var13_largo_ult3',
       'num_var13_corto', 'saldo_medio_var12_hace3', 'ind_var26_0',
       'ind_var43_recib_ult1', 'num_var22_ult3', 'num_var4',
       'num_med_var22_ult3'],
      dtype='object', length=121)

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# # 1. Split the dataset (if not already done)
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(
#     X, y, test_size=0.3, random_state=42, stratify=y
# )

# 2. Initialize Logistic Regression model
log_reg = LogisticRegression(max_iter=1000)  # increase iterations if convergence warning

# 3. Train the model
log_reg.fit(X_train, y_train)

# 4. Make predictions
y_pred = log_reg.predict(X_test)

# 5. Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.9602297640971674

Classification Report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98     21904
           1       0.00      0.00      0.00       902

    accuracy                           0.96     22806
   macro avg       0.48      0.50      0.49     22806
weighted avg       0.92      0.96      0.94     22806


Confusion Matrix:
 [[21899     5]
 [  902     0]]

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(